

* {
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    font-family: Arial, Helvetica, SansSerif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    border: 1px solid red;
    margin: 0;
}


.container {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
   

}

aside {
    padding: 10px 20px;
    width: 250px;
    border-right: 1px solid #111;
}

button {
    background-color: #fff;
    border: solid 1px #111;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

main {
    flex: 1;
    padding: 10px 20px;
}

h2 {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #111;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin: 20px 0 0 ;
}

.person {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
}